<% if PUBLISH_ELF_CONFIG[:mailchimp_form_enabled] %>
<!-- Begin MailChimp Signup Form -->
    <div class="widget widget-heading-simple widget-body-white">
      <div class="well center">
        <div class="row">
          <div class="col-md-12">
            <div id="mc_embed_signup">
              <form action="<%= PUBLISH_ELF_CONFIG[:mailchimp_form_action] %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <h2><%= PUBLISH_ELF_CONFIG[:mailchimp_form_heading] %></h2>
                <h3><%= PUBLISH_ELF_CONFIG[:mailchimp_form_subheading] %></h3>
                <div class="row form-inline">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Your Email address" size="30" required>
                      <div class="input-group-btn">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                      </div>
                    </div>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="<%= PUBLISH_ELF_CONFIG[:mailchimp_form_honeypot] %>" value=""></div>
                  </div>
                </div>
                <h3 class="muted"><%= PUBLISH_ELF_CONFIG[:mailchimp_form_signature] %><h3>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--End mc_embed_signup-->
<% end %>
