<%= simple_form_for @landing, html: {class: 'form-horizontal well'} do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.label :title, "Page Title", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.input :title, autofocus: true, label: false, input_html: { class: 'form-control' } %>
    </div>
  </div>
	<% unless @landing.new_record? %>
    <div class="form-group">
      <%= f.label :page_url, "Page URL", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.input :page_url, label: false, input_html: { class: 'form-control' } %>
      </div>
    </div>
	<% end %>
  <div class="form-group">
    <%= f.label :status, "Status", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.input :status, collection: ["draft", "published"], label: false, include_blank: false, input_html: { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :publish_date, "Publish Date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.input :publish_date, as: :string, label: false, input_html: { class: 'form-control', data: { provide: 'datepicker', date_format: "yyyy-mm-dd"}} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, "Content (HTML)", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.input :content, label: false, input_html: { class: 'form-control',rows: 20} %>
    </div>
  </div>
  <hr/>
  <%= f.submit "Save Landing Page", class: 'btn btn-primary' %>
<% end %>
